@import "tailwindcss";

.drag-region {
  -webkit-app-region: drag;
}

.drag-region button,
.drag-region input,
.drag-region a,
.no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.markdown-body > :first-child {
  margin-top: 0;
}

.markdown-body > :last-child {
  margin-bottom: 0;
}

.markdown-body img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.markdown-body pre code {
  background: transparent;
  padding: 0;
  font-size: inherit;
}
